:root {
    --main-color: #8ECFC9;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .navbar,
  .btn-outline-success {
    border-color: var(--main-color);
    color: var(--main-color);
  }
  
  .btn-outline-success:hover,
  .btn-outline-success:focus {
    background-color: var(--main-color);
    color: white;
  }
  